.httr-oauth
.Rproj.user
.Rproj.user/
.Rproj.user/shared/notebooks/paths
data/raw_vaccines_tbl.rds
step0_extract_and_eda_cache/
step0_extract_and_eda_files/
step0_transform_cache/
step0_transform_files/
step1_logistic_growth_cache/
step1_logistic_growth_files/
step2_spatial_model_cache/
step2_spatial_model_files/
step3_optimization_prep_cache/
step3_optimization_prep_files/
